#root {
  font-family: 'Inter', sans-serif;
  font-family: 'Urbanist', sans-serif;

}

/* .navbar{
  height: 60px;
  background-color: rgb(178, 182, 179);
}

.wrapper{
  padding: 10px 20px;
  display: flex;
}
.left{
  flex: 1;
}
.center{
  flex: 1;
}
.right{
  flex: 1;
}

.language{
  font-size: 14;
  cursor: pointer;
} */

